{% extends 'base.html.twig' %}

{% block title %}Product Detail{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-3 mb-4">
            <div class="col-md-4">
                <img src="{{product.productImage}}" alt="" class="img-fluid">
            </div>
            <div class="col-md-8">
                <h1 class="mt-4 mt-md-0">{{product.productTitle}}</h1>
                <h2>{{ product.productPrice }} $</h2>
                <hr>
                <b>Description: </b>{{product.productDescription}}
                    <form class="mt-4 p-4 bg-light" method="post">
                    <div class="form-group">
                        <button> <label for="quantity">Quantity</label> </button>
</div>
        </div>
    </div>
{% endblock %}